@import "reset.css";

.app-wrapper {
    display: grid;
    grid-template-areas:
    "h h h"
    "n c c"
    "f f f";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;
    background-color: chartreuse;
}

.header img {
    width: 30px;
}

.nav {
    grid-area: n;
    background-color: aqua;
}

.content {
    grid-area: c;
    background-color: fuchsia;
}

.content .content-ava {
    width: 70px;
}

.content .content-wrap {

}

.footer {
    grid-area: f;
    background-color: blanchedalmond;
}